mixin breadcrumbs()
	.breadcrumbs&attributes(attributes)
		ul.breadcrumbs__list
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Кейс
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Разработка сайта
			li.breadcrumbs__item
				a.breadcrumbs__link(href="#link") Корпоративный сайт
