mixin hero()
	section.hero&attributes(attributes)
		.hero__slider
			.hero__item(style="background-image: url('assets/images/content/hero-img-1.jpg')")
				.hero__in
					//- .hero__w
					h2.hero__title Разработка
						span сайтов
					.hero__text Мы делаем интернет-магазины, корпоративные сайты, лендинги. Заказывая у нас вы получаете работающий инструмент для вашего бизнеса
					a.hero__button.button.button_sec.popup-open(href="#callback") Обсудить задачу
			.hero__item(style="background-image: url('assets/images/content/hero-img-1.jpg')")
				.hero__in
					//- .hero__w
					h2.hero__title Брендинг
					.hero__text Помогаем сформулировать и создать образ компании, его продукта, донести до потребителя основную идею компании и Бренд является индивидуальным образом компании, подчеркивает его уникальность. Бренд помогает компании выделиться на фоне конкурентного окружения, он влияет на выбор потребителей и является своеобразным нематериальным активом компании.
					a.hero__button.button.button_sec(href="#order") Обсудить задачу
			.hero__item(style="background-image: url('assets/images/content/hero-img-1.jpg')")
				.hero__in
					//- .hero__w
					h2.hero__title Продвижение
						span сайтов
					.hero__text Наличие сайта в топе выдачи поисковых систем — необходимое условие продвижения бренда, товаров или услуг. Продвижение сайта в топ предполагает наличие конкретных инструментов, которыми и владеют наши специалисты.
					a.hero__button.button.button_sec(href="#order") Обсудить задачу
