.hero
	position relative
	z-index 0
	display block
	&__slider
		color #fff
		display flex
		overflow hidden
	&__item
		position relative
		// height 100vh
		height 768px
		background-position 50% 0
		background-repeat no-repeat
		background-size cover
	&__in
		position relative
		@extends .in
		padding-top 308px
		height 100%
		+r($tL)
			padding-top 227px

	&__title
		@extends .title
		margin-top 33px
		margin-bottom 23px
		letter-spacing 4px
		+r($tL)
			padding-left 33px
			padding-right 33px
		span
			font-family $mB
	&__text
		margin-bottom 30px
		max-width 556px
		+r($tL)
			padding-left 33px
			padding-right 33px
			max-width 70%

	&__button
		+r($tL)
			margin-left 33px

section.hero
	.hero__slider
		margin-bottom 0
	.hero__item
		background-position 50% 0
		background-repeat no-repeat
		background-size cover
	.slick-dots
		position absolute
		@extends .in
		z-index 1
		top 305px
		// left 30px
		left 50%
		bottom auto
		text-align left
		transform translateX(-50%)
		+r($tL)
			top 225px
			padding-left 57px
			padding-right 57px
		li
			position relative
			padding-right 12px
			width auto
			height auto
			font-family $mB
			font-size 16px
			&:after
				position relative
				top 0
				right -12px
				content '/'
				color rgba(255, 255, 255, 0.3)
			&:first-child
				margin-left 0
			&:last-child
				&:after
					display none
		.slick-active
			a
				color #fff
				tr(all .3s ease)
		a
			color #00c6d7
			tr(all .3s ease)
