.p-services
	margin-top 48px
	display block
	color #fff
	&__text
		margin-bottom 42px
		max-width 600px
		font-size 18px
		line-height 1.6
	&__service
		padding-top 50px
		padding-bottom 50px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-self flex-start
	&__service_odd
		.p-services__service-content
			order -1
		.p-services__service-img
			padding-right 30px
			text-align right
	&__service_even
		.p-services__service-content
			order 1
		.p-services__service-img
			padding-left 30px
			text-align left
		.p-services__service-text
			margin-bottom 30px
	// &__service-w
	&__service-title
		margin-bottom 10px
		font-size 36px

	// &__service-content
	// 	margin-right 30px
	&__service-text
		margin-bottom 50px
		font-size 18px
		line-height 1.6
	&__service-content,
	&__service-img
		flex 1 1 48%
	&__service-img
		padding-top 22px
		text-align center
		img
			display inline-block
			vertical-align top
			respimg()

	// &__service-button
