// General body styles

.page
	background-color #000000
	font-display swap
	font-family $mR
	font-weight normal
	font-size 16px
	line-height 1.625
	color #5a5a5a
	tr(all .3s ease)
	&_inner
		.header
			position static
		.main__title
			margin-bottom 0
	&_portfolio-single
		.header
			position absolute

img
	display block
	max-width 100%
	height auto

// Container

.in
	margin auto
	padding-right 15px
	padding-left 15px
	min-width 280px
	max-width 1170px
	+r($tL)
		padding-left 24px
		padding-right 24px
// Links

// a:link
// 	text-decoration none

// Buttons

.button
	border none
	padding-top 15px
	padding-right 30px
	padding-bottom 17px
	padding-left 30px
	display inline-block
	vertical-align top
	background-color #00c6d7
	color #ffffff
	font-weight normal
	font-family $mB
	font-size 16px
	line-height 1
	text-align center
	text-decoration none
	tr(all .3s ease)
	&:hover
		background-color darken(#00c6d7, 10)
		tr(all .3s ease)
	&_sec
		border 2px solid #00c6d7
		padding-bottom 15px
		background transparent
		&:hover
			background-color #00c6d7

// Titles

.title
	font-size 64px
	font-family $mR
	color #fff
	text-transform uppercase
	letter-spacing 3px
	+r($tL)
		font-size 48px
	+r($m)
		font-size 24px

// wysiwyg editor styles

.wysiwyg
	p
		margin-bottom 28px
		font-size 18px
		line-height 1.6

	img
		max-width 100%
		height auto

.resp-image
	img
		max-width 100%
		height auto
