@font-face
	font-family 'MullerRegular'
	src local('Muller Regular'), local('MullerRegular'),
		url('../fonts/hinted-subset-MullerRegular.woff2') format('woff2'),
		url('../fonts/hinted-subset-MullerRegular.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'MullerBold'
	src local('Muller Bold'), local('MullerBold'),
		url('../fonts/hinted-subset-MullerBold.woff2') format('woff2'),
		url('../fonts/hinted-subset-MullerBold.woff') format('woff')
	font-weight normal
	font-style normal


@font-face
	font-family 'MullerLight'
	src local('Muller Light'), local('MullerLight'),
		url('../fonts/hinted-subset-MullerLight.woff2') format('woff2'),
		url('../fonts/hinted-subset-MullerLight.woff') format('woff')
	font-weight normal
	font-style normal


$mL = 'MullerLight' , arial, sans-serif
$mR = 'MullerRegular', arial, sans-serif
$mB = 'MullerBold' , arial, sans-serif
