.main
	display block
	&__in
		@extends .in
		padding-top 30px
		// padding-bottom 63px
		padding-bottom 43px
	&__title
		@extends .title
		margin-bottom 50px
		letter-spacing 4px
	&__w
		margin-top 44px
		display flex
		flex-flow row wrap
		justify-content space-between
		align-items flex-start

	&__content
		// margin-right 30px
		width 65.6%

	&__sidebar
		margin-top -8px
		width 31.5%
