.logo
	width 360px
	display flex
	flex-flow row
	justify-content flex-start
	align-items flex-start
	color #fff
	text-decoration none
	text-align left
	&__brand
		margin-top 6px
		// margin-right 30px
		width 160px
		// max-width 330px
		height 23px
		fill #fff
	&__slogan
		position relative
		margin-top -3px
		margin-left 32px
		padding-top 2px
		padding-left 31px
		width 302px
		line-height 1
		color #bbbbbb
		&:after
			position absolute
			top -4px
			left 0
			content ''
			width 1px
			height 40px
			background #bbbbbb
