.agency
	padding-bottom 100px
	display block
	color #fff
	&__title
		margin-top 55px
		margin-bottom 38px
		font-size 36px
		line-height 1.5
	&__row
		margin-bottom 50px
		max-width 760px
		clr()
	&__list
		position relative
		padding-left 196px
	&__term
		position absolute
		top 0
		left 0
		font-size 18px
		font-family $mB
	&__desc
		font-size 18px
		line-height 1.555
	&__list-col
		float left
		width 50%
	&__purpose
		font-size 36px
		line-height 1.5
		strong
			font-family $mB
