.clients
	border-top 1px solid #aaa
	padding-top 82px
	padding-bottom 30px
	display block
	overflow hidden
	&__title
		@extends .title
		margin-bottom 32px
	&__list
		margin-right -32px
		display flex
		flex-flow row wrap
		justify-content center
		align-items flex-start
	&__item
		margin-right 30px
		margin-bottom 30px
	&__link
		display block
		color #000
		img
			respimg()
