.works
	padding-bottom 100px
	display block
	overflow hidden
	&__in
		@extends .in
		padding-top 100px
	&__title
		@extends .title
		margin-bottom 63px
	&__grid
		width 100%
		clr()
	&__row
		overflow hidden
		clr()
	&__row-br
		.works__item_big
			float right
	&__item
		position relative
		float left
		width 33.3%
		min-height 275px
		max-height 275px
		background-position 100% 0
		background-size cover
		&:hover
			.works__item-w
				visibility visible
				opacity 1
				tr(all .3s ease)
	&__item_big
		width 66.6%
		min-height 550px
		max-height 550px
	&__item-w
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		visibility hidden
		opacity 0
		color #fff
		background rgba(0,0,0, .6)
		tr(all .3s ease)
	&__item-top
		padding-top 30px
		padding-left 30px
		padding-right 30px
		display flex
		justify-content space-between
		align-items center
	&__category
		font-family $mB
	&__date
		color #888888
		text-transform uppercase
	&__item-body
		position absolute
		bottom 0
		left 0
		right 0
		padding-bottom 30px
		padding-left 30px
		padding-right 30px
	&__item-title
		margin-bottom 10px
		color #00c6d7
		font-size 18px
		font-family $mB
		letter-spacing 2px
		text-transform uppercase
	&__item-text
		font-size 18px


	&__button
		position relative
		display block
		min-height 156px
		background url('../images/general/works-all.jpg') 50% 0 no-repeat
		background-size cover
		text-decoration none
		&:after
			position absolute
			top 0
			left 0
			right 0
			bottom 0
			content ''
			background rgba(0, 0, 0, .7)
	&__button-text
		position relative
		z-index 1
		@extends .in
		padding-top 52px
		padding-bottom 36px
		color #fff
		font-family $mB
		font-size 36px
		line-height 1.555

