mixin works()
	section.works&attributes(attributes)
		.works__in
			h2.works__title Наши работы
			ul.works__list
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды
				li.works__item
					.works__item-w
						.works__item-top
							.works__category Брендинг
							.works__date 18.12.2017
						.works__item_body
							.works__item-title YAGRI
							.works__item-text Дизайнер модной женской одежды


			a.works__button(href="#all-works") Все работы
