mixin works()
	section.works&attributes(attributes)
		.works__in
			h2.works__title Наши работы

		.works__grid
			//- .works__row.works__row-bl

			.works__sizer

			.works__item.works__item_big(style="background-image: url('assets/images/content/work-1.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-2.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			//- .works__row.works__row-bn

			.works__item(style="background-image: url('assets/images/content/work-4.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-5.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			//- .works__row.works__row-br


			.works__item(style="background-image: url('assets/images/content/work-2.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item.works__item_big(style="background-image: url('assets/images/content/work-1.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

		a.works__button(href="#all-works")
			.works__button-text Все работы

mixin works-page()
	.works&attributes(attributes)
		.works__grid
			//- .works__row.works__row-bl
			.works__sizer

			.works__item.works__item_big(style="background-image: url('assets/images/content/work-1.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-2.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-4.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-5.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-2.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item.works__item_big(style="background-image: url('assets/images/content/work-1.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			//- repeat

			.works__item.works__item_big(style="background-image: url('assets/images/content/work-1.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды


			.works__item(style="background-image: url('assets/images/content/work-2.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды


			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды





			.works__item(style="background-image: url('assets/images/content/work-4.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды





			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды


			.works__item(style="background-image: url('assets/images/content/work-5.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды




			.works__item(style="background-image: url('assets/images/content/work-2.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды



			.works__item.works__item_big(style="background-image: url('assets/images/content/work-1.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды

			.works__item(style="background-image: url('assets/images/content/work-3.jpg');")
				.works__item-w
					.works__item-top
						.works__category Брендинг
						.works__date 18.12.2017
					.works__item-body
						.works__item-title YAGRI
						.works__item-text Дизайнер <br/>модной женской одежды
