mixin articles()
	.articles&attributes(attributes)
		.articles__sizer
		article.articles__article.articles__article_fixed.article.article_fixed(style="background: url('assets/images/content/article-fixed.jpg');")
			a.article__link(href="#link")
				.article__title Обзор интерфейса Invision Studio
				.article__text InVision выпустил в «ранний доступ» редактор InVision Studio, который по замыслу разработчиков должен стать конкурентом для Sketch и служить в качестве основного инструмента для интерактивного дизайна и создания прототипов. Специально для Awdee я написал обзор этого инструмента и рассказал о своих впечатлениях.
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-1.jpg", alt="")
				.article__w
					.article__title Деньги и дизайн
					.article__text Как зарабатывать больше, если ты работаешь один
					.article__button.button.button_sec Читать
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-2.jpg", alt="")
				.article__w
					.article__title Ошибки молодых дизайнеров
					.article__text Речь пойдет о тех распространенных ошибках, которые допускают начинающие дизайнеры.
					.article__button.button.button_sec Читать
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-3.jpg", alt="")
				.article__w
					.article__title 11 шагов к идеальному логотипу
					.article__text Мы проведем вас через 11 шагов и дадим советы, какие приемы лучше использовать в дизайне логотипов.
					.article__button.button.button_sec Читать
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-2.jpg", alt="")
				.article__w
					.article__title Ошибки молодых дизайнеров
					.article__text Речь пойдет о тех распространенных ошибках, которые допускают начинающие дизайнеры.
					.article__button.button.button_sec Читать
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-1.jpg", alt="")
				.article__w
					.article__title Деньги и дизайн
					.article__text Как зарабатывать больше, если ты работаешь один
					.article__button.button.button_sec Читать
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-4.jpg", alt="")
				.article__w
					.article__title 4 правила работы в Sketch над крупными проектами
					.article__text Эти правила и приёмы помогут команде при работе над крупным проектом.
					.article__button.button.button_sec Читать
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-3.jpg", alt="")
				.article__w
					.article__title 11 шагов к идеальному логотипу
					.article__text Мы проведем вас через 11 шагов и дадим советы, какие приемы лучше использовать в дизайне логотипов.
					.article__button.button.button_sec Читать
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-4.jpg", alt="")
				.article__w
					.article__title 4 правила работы в Sketch над крупными проектами
					.article__text Эти правила и приёмы помогут команде при работе над крупным проектом.
					.article__button.button.button_sec Читать
		article.articles__article.article
			a.article__link(href="#link")
				.article__image
					img(src="assets/images/content/article-img-2.jpg", alt="")
				.article__w
					.article__title Ошибки молодых дизайнеров
					.article__text Речь пойдет о тех распространенных ошибках, которые допускают начинающие дизайнеры.
					.article__button.button.button_sec Читать
